@charset "UTF-8";
/* -----------------------------------------
 Reset
------------------------------------------- */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}
em {
  font-style: normal;
}
a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background: transparent;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: .8rem 0;
  padding: 0;
}
input, select {
  vertical-align: middle;
}
/* -----------------------------------------
 基本
------------------------------------------- */
html {
  font-size: 62.5%;
}
body {
  color: #333;
  background: #fff;
  font-size: 1.6rem;
  font-family: Arial, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  -webkit-text-size-adjust: 100%;
}
img {
  max-width: 100%;
  vertical-align: top;
}
/* -----------------------------------------
 文字装飾
------------------------------------------- */
.bold {
  font-weight: bold;
}
.normal {
  font-weight: normal;
}
.red {
  color: #E02E17;
}
.blue {
  color: #008CD7;
}
.yellow {
  color: #FDE24E;
}
.orange {
  color: #EB5505;
}
p {
  line-height: 1.5;
}
.txt-center {
  text-align: center;
}
.txt-right {
  text-align: right;
}
.txt-left {
  text-align: left;
}
.f32 {
  font-size: 3.2rem;
}
.f28 {
  font-size: 2.8rem;
}
.f26 {
  font-size: 2.6rem;
}
.f24 {
  font-size: 2.4rem;
}
.f21 {
  font-size: 2.1rem;
}
.f19 {
  font-size: 1.9rem;
}
.f18 {
  font-size: 1.8rem;
}
.f17 {
  font-size: 1.7rem;
}
.f16 {
  font-size: 1.6rem;
}
.f15 {
  font-size: 1.5rem;
}
.f14 {
  font-size: 1.4rem;
}
.f13 {
  font-size: 1.3rem;
}
.f12 {
  font-size: 1.2rem;
}
.f11 {
  font-size: 1.1rem;
}
.f10 {
  font-size: 1rem;
}
.mb0 {
  margin-bottom: 0;
}
.mb10 {
  margin-bottom: 1rem;
}
.mb15 {
  margin-bottom: 1.5rem;
}
.mb20 {
  margin-bottom: 2rem;
}
.mb25 {
  margin-bottom: 2.5rem;
}
.mb30 {
  margin-bottom: 3rem;
}
.mb40 {
  margin-bottom: 4rem;
}
.mb5e {
  margin-bottom: .5em;
}
.lh22 {
  line-height: 2.2;
}
/* -----------------------------------------
 リンク
------------------------------------------- */
a:link {
  color: #008CD7;
  text-decoration: underline;
}
a:hover {
  opacity: .8;
}
a:visited {
  color: #35318F;
  text-decoration: underline;
}
a:active {
  color: #e00;
  text-decoration: none;
}
a.arrow {
  display: inline-block;
  position: relative;
  padding-left: 1.4em;
  text-decoration: none;
}
a.arrow::before {
  content: '';
  width: .5em;
  height: .5em;
  border: 0px;
  border-top: solid .1rem #007CD1;
  border-right: solid .1rem #007CD1;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: .2em;
}
a.arrow:visited::before {
  border-top: solid .1rem #35318F;
  border-right: solid .1rem #35318F;
}
.arrow-box {
  padding: .8rem 0;
}

/* -----------------------------------------
 Clear Fix
------------------------------------------- */
.cf:after {
  content: "";
  display: block;
  clear: both;
}

/* -----------------------------------------
 レイアウト
------------------------------------------- */
.wrap {
  width: 96rem;
  margin: 0 auto;
}
.wrap-in {
  width: 88rem;
  margin: 0 auto;
}
section {
  position: relative;
  padding-bottom: 6rem;
}
.ttl {
  margin-bottom: 3.6rem;
  padding: 5.2rem 0;
  font-weight: bold;
  font-size: 3.6rem;
  text-align: center;
  background-color: #D0F4F4;
}
.ttl [class^="icon-"], .ttl[class*=" icon-"] {
  position: relative;
  display: inline-block;
  padding-left: 12.2rem;
}
.ttl [class^="icon-"]::before, .ttl[class*=" icon-"]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: #fff;
}
.ttl [class^="icon-"]::after, .ttl[class*=" icon-"]::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 10rem;
  height: 10rem;
  background: url(../img/icon_heading.png) 0 0 no-repeat;
  -webkit-background-size: 10rem auto;
  background-size: 10rem auto;
}
.ttl .icon-plan::after {
  background-position: 0 0;
}
.ttl .icon-sim::after {
  background-position: 0 -10rem;
}
.ttl .icon-flow::after {
  background-position: 0 -20rem;
}
.ttl .icon-faq::after {
  background-position: 0 -30rem;
}
.ttl .fs-s {
  font-size: 2.8rem;
}
.bg-yellow {
  
}
/*.pc-only {
  display: none;
}*/
.sp-only {
  display: none;
}
ul.disc li {
  display: block;
  margin-bottom: .5rem;
  padding-left: 1.6rem;
  position: relative;
  line-height: 1.4;
  font-size: 1.4rem;
}
ul.disc li:last-child {
  margin-bottom: 0;
}
ul.disc li:before {
  content: '';
  width: .6rem;
  height: .6rem;
  background: #999;
  border-radius: 50%;
  position: absolute;
  left: .2em;
  top: .4em;
}
.notes li {
  line-height: 1.4;
  font-size: 1.2rem;
  padding-left: 1.5em;
  text-indent: -1.5em;
}
.notes-ttl {
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1.8rem;
}
.top-notes {
  text-align: right;
  font-size: 1.4rem;
}
.copy {
  margin-bottom: 3.6rem;
  text-align: center;
}